@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Raleway&family=Red+Hat+Display&display=swap');

$primaryFont : 'Raleway',
sans-serif;
$secendoryFont : 'Cormorant',
serif;
$ternaryFont : 'Red Hat Display',
sans-serif;

$whiteColor : #FFF;
$violetColor : #3A3285;
$blackColor : #000;
$lightBlackColor : rgba(31, 31, 31, 0.77);
$redColor : #E31E24;

.programs-components {
    width: 100%;
    position: relative;

    .programsImg {
        width: 100%;
    }

    .programs-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(31, 31, 31, 0.77);
        display: flex;
        justify-content: space-between;

        .programs-item-box {
            width: 33.3%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                color: $whiteColor;
                text-align: center;
                font-family: $secendoryFont;
                font-size: 48px;
                font-weight: 600;
            }

            .tag {
                color: $whiteColor;
                text-align: center;
                font-family: $secendoryFont;
                font-size: 48px;
                font-weight: 600;
            }

            .para {
                width: 70%;
                color: $whiteColor;
                text-align: center;
                font-family: $primaryFont;
                font-size: 16px;
                font-weight: 500;
                line-height: 177.9%;
            }
        }

        .mid-box {
            border-left: 1px solid $whiteColor;
            border-right: 1px solid $whiteColor;
        }
    }
}

@media screen and (max-width : 1660px) {
    .programs-components {
        .programs-container {
            .programs-item-box {
                .title {
                    font-size: 48px;
                }

                .tag {
                    font-size: 40px;
                }

                .para {
                    width: 80%;
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width : 1440px) {
    .programs-components {
        .programs-container {
            .programs-item-box {
                .title {
                    font-size: 40px;
                }

                .tag {
                    font-size: 30px;
                }

                .para {
                    width: 90%;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width : 1080px) {
    .programs-components {
        .programs-container {
            .programs-item-box {
                .title {
                    font-size: 30px;
                }

                .tag {
                    font-size: 24px;
                }

                .para {
                    width: 90%;
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width : 980px) {
    .programs-components {
        .programs-container {
            .programs-item-box {
                .title {
                    font-size: 28px;
                }

                .tag {
                    font-size: 22px;
                }

                .para {
                    width: 90%;
                    font-size: 14px;
                }
            }
        }
    }
}